@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
}
